body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6; //f6f6f6
}

.wrapper {
  padding: 3%;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .header,
  .content {
    display: flex;
    flex-direction: column;
  }
}

.navigation {
  ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;

    li {
      margin-right: 12px;
    }
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}
